// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.feature {

    max-width: 100%;


}

body{
    text-align: center;
    background-image: url("https://thumbs.dreamstime.com/z/astrological-zodiac-horoscope-star-signs-symbols-icon-set-174567535.jpg")
}

